@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary-color: #FF6D00; /* orange */
		--secondary-color: #1a202c; /* black */
		--text-color: #ffffff; /* white */
		--hover-color: #cc5800; /* darker orange for hover effects */
	}
	

	.light {
		--color-primary: var(--light-theme-primary);
		--color-body: var(--light-theme-body);
	}

	.dark {
		--color-primary: var(--dark-theme-primary);
		--color-body: var(--dark-theme-body);
	}

	.coffee {
		--color-primary: var(--coffee-theme-primary);
		--color-body: var(--coffee-theme-body);
	}

	#header {
		background-color: var(--secondary-color);
		color: var(--text-color);
	}
	.button:hover,
	.button:focus,
	.button:active {
		background-color: var(--hover-color);
	}

/* Same for links or other interactive elements */




	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-body truncate;
	}
}